<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.component.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="headder">
        <div id="stripe"></div>
        <img
          src="https://s3-us-west-1.amazonaws.com/co-directory-images/briandudey.jpg"
        />
        <div id="nameBadge">
          <div>{{ name }}</div>
        </div>
      </div>
      <div id="address">
        {{ address }}
      </div>
      <hr />
      <div id="resumeBody">
        <div id="left">
          <div class="subHeading">
            <i class="material-icons"> person </i>
            <div>{{ profile[0] }}</div>
          </div>
          <div>
            {{ profile[1] }}
          </div>

          <div class="subHeading">
            <i class="material-icons"> emoji_objects </i>
            <div>Skills</div>
          </div>
          <h3 style="text-align: center;">{{ tech_skills[0] }}</h3>
          <ul>
            <li>{{ tech_skills[1] }}</li>
            <li>{{ tech_skills[2] }}</li>
            <li>{{ tech_skills[3] }}</li>
            <li>{{ tech_skills[4] }}</li>
            <li>{{ tech_skills[5] }}</li>
            <li>{{ tech_skills[6] }}</li>
            <li>{{ tech_skills[7] }}</li>
          </ul>
          <h3 style="text-align: center;">{{ add_skills[0] }}</h3>
          <ul>
            <li>{{ add_skills[1] }}</li>
            <li>{{ add_skills[2] }}</li>
            <li>{{ add_skills[3] }}</li>
            <li>{{ add_skills[4] }}</li>
            <li>{{ add_skills[5] }}</li>
          </ul>
          <div class="subHeading">
            <i class="material-icons"> work </i>
            <div>{{ work_xp[0] }}</div>
          </div>
          <h3>{{ work_xp[1] }}</h3>
          <h5>{{ work_xp[2] }}</h5>
          <ul>
            <li>
              {{ work_xp[3] }}
            </li>
            <li>
              {{ work_xp[4] }}
            </li>
            <li>
              {{ work_xp[5] }}
            </li>
          </ul>
        </div>
        <div id="right">
          <div class="subHeading">
            <i class="material-icons"> work </i>
            <div>{{ work_xp[0] }}</div>
          </div>
          <h3>{{ work_xp[6] }}</h3>
          <h5>{{ work_xp[7] }}</h5>
          <ul>
            <li>{{ work_xp[8] }}</li>
            <li>
              {{ work_xp[9] }}
            </li>
            <li>
              {{ work_xp[10] }}
            </li>
            <li>{{ work_xp[11] }}</li>
          </ul>
          <div class="subHeading">
            <i class="material-icons"> school</i>
            <div>{{ education[0] }}</div>
          </div>
          <h3>{{ education[1] }}</h3>
          <h5>{{ education[2] }}</h5>
          <br />
          <div>
            {{ education[3] }}
          </div>
          <ul>
            <li>
              {{ education[4] }}
            </li>
            <li>
              {{ education[5] }}
            </li>
            <li>
              {{ education[6] }}
            </li>
          </ul>
          <footer>
            <h3>{{ education[7] }}</h3>
            <h5>{{ education[8] }}</h5>
          </footer>
        </div>
      </div>
      <!--  -->
    </div>
  </body>
</html>